body {
    background-color: #0b1220;
    color: white;
    font-family: Arial, sans-serif;
    margin:0;
}

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0% 12%;
    align-items: flex-start;
}

.hero img{
    width: 500px;
    height: 250x;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
}

.intro {
    color:#38bdf8;
    font-size: 50px;
    font-weight: 700;
    

}

h1 {
     font-size: 60px;
      margin: 10px 0;
}

h2 {
    font-size: 30px;
    margin:10px 0;
}

.class intro p{
    font-size: 12;
    padding: 12px 12px;
}

.description {
max-width: 650px;
font-size: 18px;
line-height: 1.6;
margin-top: 10px;
}

#about{
    padding: 80px 10%;
    min-height: 60vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
h2{
    font-size: 42px;
    margin-bottom: 20px;
}

p {
    max-width: 700px;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px;
}
  
.about-content {
    display:flex;
    gap:50px;
    align-items: flex-start;
    flex-direction: row;
    max-width: 1000px;
    width: 100%;
}

  .about-text,
  .about-highlights {
    flex:1;
  }

.about-highlights{
       background-color: #121b3a;
       padding: 30px;
       border-radius: 15px;
       border: 1px solid rgba(0, 0, 0, 0.15);
       margin-top: -100px;
       
}

.about-text p{
    line-height: 1.8;
    margin-bottom: 20px;
    font-weight: 500;
}

.about-highlights p{
    font-weight: 600;
    padding: 10px 0;
    margin: 0;
}

.about-highlights h3{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
}

#skills{
    padding: 80px 10%;    
}
.skills-group{
    margin-top: 50px;
}

.skills-group h3{
    font: size 34px;
    font-weight: 200;
    margin-bottom: 20px;

    
}

.skills-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.skills-group p{
    display:inline-block;
    background-color: #0b1220;
    color: #eaecf1;
    font-weight: 700;
    padding: 12px 18px;
    border-radius: 8px;
    margin: 6px;
    transition: 0.3 ease;
}

.skills-group p:hover{
    position: relative;
    top: -6px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.hero a {
    display:inline-block;
    background-color: #0066ff;
    color: white;
    font-weight: bold;
    padding: 12px 22px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
    transition: 0.3s ease;
}

.hero a:hover{
    position: relative;
    top: -6px;
}








  



  

